<h1 class= "text-center my-3">Stupid Coach!</h1>
<div class="container card">
  <div class="card-body">
    <p><%= @answer %></p>
    <p>- You</p>
    </div>
</div>

<div class="container alert alert-warning mt-3">
<p><%= @coach %></p>
<p>- Coach</p>
</div>

<div class="container mt-3">
  <a href="ASK" class="link-secondary">Ask again!</a>
</div>
