<h1 class="text-center my-3">Ask question</h1>
<div class="container-md">
  <form class="input-group mb-3" action="/answer" data-turbo="false">
    <input class="form-control" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
